*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CV-Editing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    border: solid 2px #0443ff;
}
.CV-Editing-header {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #36383E;
    position: relative;
}
.CV-Editing-header-Left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: #36383E;
}
.CV-Editing-header-Right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 120px;
    width: 75%;
    height: 100%;
    background-color: #36383E;
}
.CV-Editing-header h2{
    font-size: 2rem;
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}
.CV-Editing-Container{
    display: flex   ;
    width: 100%;
    height: 80%;
}
.CV-Editing-Container-Left{
    width: 25%;
    height: 100%;
    background-color: #ff7300;
}
.CV-Editing-Container-Right{
    width: 75%;
    height: 100%;
    background-color: #ff0000;
}
.triangle {
    position: absolute;
    bottom: -105px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    border-top: 105px solid #36383E; 
}