*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.project-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #141318;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #555;
}
.project-input {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 20px;
}
.project-input input {
  width: 25%;
  height: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #333;
  background-color: #141318;
  border: solid 1px #555;
}
.project-grid {
  width: 80%;
  margin: 0 auto;
  padding-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}
