*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CV-Edit-Edu-Skills{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #101010;
    color: #fff;
}

.CVEES-Content{
    display: flex;
    flex: 1;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
}
.CVEES-Main{
    width: 100%;
    background: #202020;
    padding: 20px;
    border: 1px solid #303030;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.CVEES-Main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


.CVEES-group {
    margin-bottom: 20px;
}

.CVEES-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
}

.CVEES-group input,
.CVEES-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #404040;
    border-radius: 6px;
    background-color: #303030;
    font-size: 14px;
    color: #fff;
    resize: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}
.btn-save-CVEES {
    width: 98%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-save-CVEES:hover {
    background-color: #0056b3;
}


.Toastify__toast--success {
    background-color: #0056b3;
    color: white;
    font-size: 16px;
  }
  
  .Toastify__toast--error {
    background-color: #f44336;
    color: white;
    font-size: 16px;
  }
 
.skills-container, .education-container {
    margin-bottom: 20px;
  }
  
  .btn-add-skill {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
  }
  
  .btn-add-skill:hover {
    background-color: #45a049;
  }
  
  .btn-add-skill.disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  .skills-container, .education-container h3 {
    margin-bottom: 10px;
    color: #555;
  }