*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.CV-Edit-Exp{
    width: 100%;
    height: 92%;
    display: flex;
    background-color: #101010;
    color: #fff;
}

.CVEE-Content{
    display: flex;
    flex: 1;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
}
.CVEE-Main{
    width: 100%;
    background: #202020;
    padding: 20px;
    border: 1px solid #303030;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.CVEE-Main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


.CVEE-group {
    margin-bottom: 20px;
}

.CVEE-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
}

.CVEE-group input,
.CVEE-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #404040;
    border-radius: 6px;
    background-color: #303030;
    font-size: 14px;
    color: #fff;
    resize: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}
.btn-save-CVEE {
    width: 98%;
    margin-top: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-save-CVEE:hover {
    background-color: #0056b3;
}

.btn-add-exp {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-add-exp:hover {
    background-color: #45a049;
  }
  
  .btn-add-exp:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .btn-save-CVEE {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-save-CVEE:hover {
    background-color: #0073a1;
  }
  
  .btn-remove-exp {
    background-color: #d9534f;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-remove-exp:hover {
    background-color: #c9302c;
  }
  
  /* Стилі для кнопок підтвердження */
  .btn-confirm {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .btn-cancel {
    background-color: #d9534f;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  