*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
}
/* Загальні стилі */
.account-settings {
    display: flex;
    width: 100%;
    height: 105vh;
    background-color: #101010;
    color: #fff;
}

/* Контент */
.settings-content {
    display: flex;
    flex: 1;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 40px;
}

.settings-main {
    width: 80%;
    background: #202020;
    padding: 20px;
    border: 1px solid #303030;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.settings-main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #404040;
    border-radius: 6px;
    background-color: #303030;
    font-size: 14px;
    color: #fff;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

/* Профільна картинка */
.profile-picture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.btn-edit-photo {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-edit-photo:hover {
    background-color: #0056b3;
}

/* Кнопка */
.btn-save {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.btn-save:hover {
    background-color: #0056b3;
}







/* Форма соціальних акаунтів */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #fff;
}

.social-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.social-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #404040;
    border-radius: 6px;
    background-color: #303030;
    font-size: 14px;
    color: #fff;
}

.social-input input::placeholder {
    color: #aaa;
}

.social-input svg {
    color: #fff;
    font-size: 16px;
}
